@model Applications.Dtos.DtoRegistroDePonto

@{
    ViewData["Title"] = "Remover registro de ponto";
}

<h1>Remover registro de ponto</h1>

<div>
    <h4>DtoRegistroDePonto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDoRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDoRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeRegistro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar para lista de registros</a>
    </form>
</div>
